.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-container {
  background-color: #232933;
  padding: 24px;
  min-height: calc(100vh * 40 / 100);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.welcome {
  font-size: 32pt;
  color: white;
  text-align: center;
}

.instruction {
  color: white;
  font-size: 18pt;
  text-align: center;
}
